@* Simple login partial without Identity - for basic authentication *@

<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-circle me-1"></i>
            @(User.FindFirst("FirstName")?.Value ?? User.Identity.Name ?? "User")
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Profile">
                    <i class="fas fa-user-cog me-2"></i>Profile
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">
                    <i class="fas fa-key me-2"></i>Change Password
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                    <button type="submit" class="dropdown-item">
                        <i class="fas fa-sign-out-alt me-2"></i>Logout
                    </button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Register">
            <i class="fas fa-user-plus me-1"></i>Register
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Login">
            <i class="fas fa-sign-in-alt me-1"></i>Login
        </a>
    </li>
}
</ul>